.dep02 {
	position: relative;
	padding: 100px 0;
	text-align: center;
	background-color: #8b8b8b;

	.inner {
		display: flex;
		justify-content: center;
		align-items: center;

		.textWrap {
			display: flex;
			flex-direction: column;
			gap: 20px;
			color: #fff;

			h1 {
				margin-bottom: 25px;
			}
		}

		.brand {
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 10px;
			margin: 5px 0 0 0;
			color: #ccc;
		}

		.imageWrap img {
			width: 430px;
			height: 430px;
			background-color: #fff;
			border-radius: 30px;
			margin-right: 140px;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

			&:hover {
				transform: scale(1.05);
				transition: transform 0.3s ease;
				box-sizing: border-box;
				box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
