.orderSection {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0;

	.orderWrap {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 50%;

		.head {
			display: flex;
			justify-content: space-between;

			button {
				width: 22%;
			}
		}

		.orderProducts {
			display: flex;
			align-items: center;
			width: 50%;
			height: 300px;
			border: 2px solid #ececec;
			margin: 10px 0;

			img {
				width: 250px;
				height: 250px;
			}
		}

		h2 {
			margin-bottom: 25px;
			text-align: center;
		}

		.detailAddress {
			display: flex;
			align-items: center;
		}

		.paymentInfo {
			margin-top: 18px;
		}

		.payment {
			display: flex;
			flex-direction: column;
			gap: 6px;
			margin-left: auto;
			text-align: right;
		}
	}
}
