.signUpSection {
	margin: 0 auto;
	width: 60%;

	.signUpForm {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.email {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > div {
			width: 100%;
		}
		button {
			width: 25%;
		}
	}

	.prevention {
		color: #a4a4a4;
		font-size: 1.5rem;
		margin: 5px 0 10px 0;
	}

	.errorText {
		color: red;
		font-size: 1.4rem;
	}
}
