.signUpSection {
	width: 40%;
	margin: 5% auto;

	h2 {
		text-align: center;
		margin-bottom: 60px;
	}

	.signUpForm {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.email {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > div {
			width: 100%;
		}
		button {
			width: 25%;
		}
	}

	.prevention {
		color: #a4a4a4;
		font-size: 1.5rem;
		margin: 10px 0 24px 0;
	}

	span {
		margin-top: 5px;
	}
}
