.address {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > div {
		width: 100%;
	}

	button {
		width: 18%;
		border-color: #a9a9a9;
		color: #a9a9a9;

		&:hover {
			color: #fff;
		}
	}
}

.daumAddress {
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		font-size: 1.5rem;
		width: 10%;
		color: red;
	}

	div {
		width: 100%;
		height: 48px;
		padding: 10px 28px;
		border: none;
		outline: none;
		border-bottom: 2px solid #ececec;
		padding-right: 0px;
		transition: 0.5s;
		font-size: 1.5rem;
		display: block;
	}
}

.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	.closeButton {
		display: flex;
		justify-content: flex-end;

		button {
			color: #a4a4a4;
			padding: 0px 10px;
			font-size: 2rem;
		}
	}

	.modalContent {
		width: 50%;
		background: white;
		padding: 10px;
		border-radius: 5px;
	}
}
