.orderDetailSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% 0 6% 0;

	.orderDetailrWrap {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 50%;

		.mainInfo {
			display: flex;
			flex-direction: column;
			gap: 6px;
			text-align: center;
			margin-bottom: 50px;
		}

		h2 {
			text-align: center;
			margin: 10px 0 36px 0;
		}

		.title {
			margin: 20px 0 14px 0;
		}

		.table {
			margin-bottom: 40px;
			table {
				width: 100%;
				border-collapse: collapse;
			}

			th,
			td {
				border: 1px solid #ddd;
				padding: 10px;
				text-align: left;
				font-size: 1.6rem;
			}

			th {
				background-color: #f2f2f2;
				font-size: 2rem;
				padding: 12px 10px;
			}

			td:first-child {
				width: 20%;
				background-color: #f2f2f2;
			}
		}
	}

	.orderHistoryLink {
		margin-left: auto;
		margin-top: 30px;
		a {
			border-bottom: 1px solid #000;
		}
	}

	.loading {
		div {
			position: relative;
			top: 60%;
			left: -50%;
		}
	}
}
