.userOrderSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5% auto;

	h2 {
		margin-bottom: 30px;
	}

	.userOrderWrap {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 50%;
	}
}
