.myPageSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2% 0 3% 0;

	.myPageWrap {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 50%;

		h2,
		h5 {
			padding-bottom: 20px;
			border-bottom: 3px solid #000;
			margin: 40px 0;
		}

		.textInput {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.block {
				display: flex;
				flex-direction: column;
				gap: 30px;

				p {
					color: #a4a4a4;
				}

				input {
					pointer-events: none;
					color: #a4a4a4;
				}
			}
		}

		.userPreference {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			p {
				width: 20%;
				font-size: 1.4rem;
			}
		}

		.button {
			margin: 18px 0 10px 0;
		}

		.withdrawal {
			button {
				margin-top: 30px;
			}
		}
	}
}
