.myPageSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.myPageWrap {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 50%;

		h2,
		h5 {
			padding-bottom: 20px;
			border-bottom: 3px solid #000;
			margin-top: 40px;
			margin-bottom: 20px;
		}

		.block {
			display: flex;
			flex-direction: column;
			gap: 30px;

			p {
				color: #a4a4a4;
			}

			input {
				pointer-events: none;
				color: #a4a4a4;
			}
		}

		.textInput {
			p {
				margin-bottom: 10px;
				font-size: 1.4rem;
			}

			input {
				flex: 1;
			}
		}
	}
}
