.adminSection {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	text-align: center;

	label {
		gap: 10px;
		font-size: 1.8rem;
		display: flex;
	}

	h5,
	button {
		margin: 15px 0 20px 0;
	}
}
