.productForm {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;

	// label {
	// 	gap: 10px;
	// 	font-size: 1.8rem;
	// 	display: flex;
	// 	input {
	// 		margin-bottom: 5px;
	// 		width: 80%;
	// 	}
	// }

	.rowContainer {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.subject {
			width: 15%;
			display: flex;
			justify-content: flex-start;
			font-weight: 400;
		}
	}

	.closeButton {
		margin: 10px 0;
	}

	.addButton {
		display: flex;
		justify-content: flex-end;

		button {
			width: 10%;
		}
	}
}
