.productForm {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;

	label {
		gap: 10px;
		font-size: 1.8rem;
		display: flex;

		input {
			margin-bottom: 5px;
		}
	}

	.closeButton {
		margin: 10px 0;
	}

	.addButton {
		display: flex;
		justify-content: flex-end;

		button {
			width: 10%;
		}
	}
}
