@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'InkLipquid';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 62.5%;
	font-family: 'Pretendard-Regular';
}

h1 {
	font-size: 4.2rem;
}
h2 {
	font-size: 3.8rem;
}
h3 {
	font-size: 3.2rem;
}
h4 {
	font-size: 2.8rem;
}
h5 {
	font-size: 2.4rem;
}
h6 {
	font-size: 1.8rem;
}
p {
	font-size: 1.7rem;
}
span {
	font-size: 1.6rem;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 1.6rem;
}

button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

input {
	text-align: left;
	padding: 10px;
}
